
body {
    font-weight: bold;
    font-size: 25px;
	background-size: cover;
	background-image: url(fundo);
    background-repeat: no-repeat;
}
.collapsible {
  font-family: serif;
  font-weight: bold;
  font-size: 30px;
  border-radius: 10px 10px  10px  10px;
  background-color: black;
  color: white;
  cursor: none;
  padding: 18px;
  width: 99%;
  text-align: left;
  outline: none;
  padding-right: 8px;
}
.active, .collapsible:hover {
  background-color: black;
  border-radius: 10px 10px  0px  0px; 
}

.content {
  border-radius: 0px 0px  10px  10px; 
  padding: 0 18px;
  display: none;
  overflow: hidden;
  font-size: 20px;
  outline: none;
  background-color: #f1f1f1;
  border: 2px solid black;
  left: 20px;
  width: 99%;
  height: 300px;
}

.sair {
  position: absolute;
  left: 50px;
  color: #fff;
  padding: 10px 25px;
  background-color: black;
  background-image: radial-gradient(93% 87% at 87% 89%,
  rgba(0, 0, 0, 0.23) 0%, transparent 86.18%),
  radial-gradient(66% 66% at 26% 20%,
  rgba(255, 255, 255, 0.55) 0%,
  rgba(255, 255, 255, 0) 69.79%,
  rgba(255, 255, 255, 0) 100%);
  box-shadow: inset -3px -3px 9px
  rgba(255, 255, 255, 0.25),
  inset 0px 3px 9px
  rgba(255, 255, 255, 0.3),
  inset 0px 1px 1px
  rgba(255, 255, 255, 0.6),
  inset 0px -8px 36px
  rgba(0, 0, 0, 0.3),
  inset 0px 1px 5px
  rgba(255, 255, 255, 0.6),
  2px 19px 31px
  rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  font-weight: bold;
  font-size: 30px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  cursor: none;
  }
}